<div class="url-input-container">
  <div class="url-input flex flex-col lg:flex-row lg:items-start p-6 lg:p-12 rounded-md lg:mx-8">
    <div class="w-full mb-3 lg:mb-0 lg:mr-3">
      <input [formControl]="linkControl"
             [ngClass]="linkControl.invalid && linkControl.dirty ? 'border-red-400 placeholder-red-400' : ''"
             class="w-full  rounded-md px-4 py-2 outline-none border-2"
             placeholder="Shorten a link here..."
             type="text" (keyup.enter)="shortenUrl()">
      @if(linkControl.invalid && linkControl.dirty) {
        <p class="text-red-400 text-sm">
          Please add a link
        </p>
      }
    </div>

    <button class="cyan-button medium-rounded flex-shrink-0" (click)="shortenUrl()">Shorten It!</button>
  </div>

  <div>
    @for(link of links; track link.longLink) {
      <app-short-link-card [shortLink]="link" (removeEvent)="removeLink(link)"></app-short-link-card>
    }
  </div>

</div>
