<div class="flex flex-col-reverse justify-between items-center pl-12 mb-24 lg:pl-24 lg:flex-row">
  <div class="flex flex-col mt-8 pr-12 lg:pr-24 justify-center lg:justify-start text-center lg:text-start">
    <p class="font-bold text-5xl mb-2">More than just shorter links</p>
    <p class="text-grayish-violet mb-8">Build your brand's recognition and get detailed insights on how your links are
      performing.</p>
    <div>
      <button class="cyan-button">Get Started</button>
    </div>
  </div>
  <img class="illustration-work" [ngSrc]="'assets/images/illustration-working.svg'" alt="working illustration"
       height="482" width="733">
</div>

