<div class="boost-section text-center px-12 py-12 lg:px-24">
  <p class="font-bold text-3xl text-white mb-6">Boost your links today</p>
  <button class="cyan-button">Get Started</button>
</div>

<div
  class="flex flex-col bg-very-dark-violet items-center px-12 py-12 lg:px-24 space-y-5 lg:space-x-36 lg:flex-row lg:items-start">
  <img class="mr-auto ml-auto lg:ml-0" [ngSrc]="'assets/images/logo-white.svg'" alt="shortly logo" height="33"
       width="121">

  <div class="flex flex-col text-center lg:text-start">
    <p class="text-white font-bold mb-4">Features</p>
    <a class="footer-link" href="#">Link Shortening</a>
    <a class="footer-link" href="#">Branded Links</a>
    <a class="footer-link" href="#">Analytics</a>
  </div>

  <div class="flex flex-col text-center lg:text-start">
    <p class="text-white font-bold mb-4">Resources</p>
    <a class="footer-link" href="#">Blog</a>
    <a class="footer-link" href="#">Developers</a>
    <a class="footer-link" href="#">Support</a>
  </div>

  <div class="flex flex-col text-center lg:text-start">
    <p class="text-white font-bold mb-4">Company</p>
    <a class="footer-link" href="#">About</a>
    <a class="footer-link" href="#">Out Team</a>
    <a class="footer-link" href="#">Careers</a>
    <a class="footer-link" href="#">Contact</a>
  </div>

  <div class="flex space-x-5">
    <button><img [ngSrc]="'assets/images/icon-facebook.svg'" alt="facebook icon" height="24" width="24"></button>
    <button><img [ngSrc]="'assets/images/icon-twitter.svg'" alt="twitter icon" height="20" width="24"></button>
    <button><img [ngSrc]="'assets/images/icon-pinterest.svg'" alt="pinterest icon" height="24" width="24"></button>
    <button><img [ngSrc]="'assets/images/icon-instagram.svg'" alt="instagram icon" height="24" width="24"></button>
  </div>
</div>

