<div class="flex bg-white px-12 lg:px-24 py-6 mb-6 lg:mb-12">

  <div class="flex flex-grow space-x-8 items-center">
    <img [ngSrc]="'assets/images/logo.svg'" alt="shortly logo" height="33" width="121">

    @if (!isMobile) {
      <div class="space-x-8">
        <a class="header-link" href="#">Features</a>

        <a class="header-link" href="#">Pricing</a>

        <a class="header-link" href="#">Resources</a>
      </div>
    }
  </div>

  @if (!isMobile) {
    <div class="flex space-x-8 items-center">
      <button class="link-button">Login</button>
      <button class="cyan-button">Sign Up</button>
    </div>
  }

  @if (isMobile) {
    <button (click)="toggleMobileNav()">
      <img [ngSrc]="'assets/images/icon-hamburger.svg'" height="15" width="30" alt="hamburger icon">
    </button>
  }
</div>
@if (isMobileNavOpen) {
  <app-mobile-nav></app-mobile-nav>
}
