<div class="flex flex-col items-center bg-gray px-12 py-24 lg:px-24">
  <div class="text-center max-w-sm mb-16">
    <p class="font-bold text-2xl mb-2">Advanced Statistics</p>
    <p class="text-grayish-violet">Track how your links are performing across the web with our advanced statistics
      dashboard.</p>
  </div>

  <div class="statistics-card-container relative flex flex-col lg:flex-row lg:space-x-24">
    <app-statistics-card
      description="Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content."
      imageSrc="assets/images/icon-brand-recognition.svg" title="Brand Recognition">
    </app-statistics-card>

    <app-statistics-card class="mt-16 lg:mt-10"
      description="Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions."
      imageSrc="assets/images/icon-detailed-records.svg" title="Detailed Records">
    </app-statistics-card>

    <app-statistics-card class="mt-16 lg:mt-20"
      description="Improve brand awareness and content discoverability through customizable links, supercharging audience engagement."
      imageSrc="assets/images/icon-fully-customizable.svg" title="Fully Customizable">
    </app-statistics-card>
  </div>
</div>
